<a href="https://colab.research.google.com/github/jjp422/nyu-python-public-policy/blob/master/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/cleaned_311_data.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,18,21,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
df.count

Unnamed: 0                        2859011
unique_key                        2859011
created_date                      2859011
closed_date                       2722882
agency                            2859011
agency_name                       2859011
complaint_type                    2859011
descriptor                        2816343
location_type                     2242166
incident_zip                      2746853
incident_address                  2483882
street_name                       2483701
cross_street_1                    1719286
cross_street_2                    1712664
intersection_street_1              613873
intersection_street_2              611964
address_type                      2579768
city                              2725165
landmark                           185186
facility_type                      769311
status                            2859011
due_date                           978642
resolution_description            2615079
resolution_action_updated_date    2795662
community_board                   2859011
bbl                               2329289
borough                           2859011
x_coordinate_(state_plane)        2691413
y_coordinate_(state_plane)        2691413
open_data_channel_type            2859011
park_facility_name                2858822
park_borough                      2859011
vehicle_type                          252
taxi_company_borough                 2248
taxi_pick_up_location               25747
bridge_highway_name                  3872
bridge_highway_direction             4294
road_ramp                            4270
bridge_highway_segment               5754
latitude                          2691413
longitude                         2691413
location                          2691413
dtype: int64

In [18]:
df[['created_date']].count()

created_date    2859011
dtype: int64

In [19]:
df[['created_date']].min()

created_date    01/01/2019 01:00:00 PM
dtype: object

In [20]:
df[['created_date']].max()

created_date    12/31/2018 12:59:41 PM
dtype: object

The min and max values don't make intuitive sense because they're dates and times. The max value is older than the min value leading me to wonder to what exactly 'min' and 'max' correspond. Since min begins with 01 and max begins with 12, I think that the code is picking up these numbers and treating these numbers as the min and max.

In [23]:
df.head()

   Unnamed: 0  unique_key  ...  longitude                                 location
0           0    39888071  ... -73.942942   (40.79333937834769, -73.9429417746998)
1           1    39889166  ... -73.953071   (40.82012422332215, -73.9530712339799)
2           2    39882869  ... -73.951399   (40.67080917938279, -73.9513990916184)
3           3    39894246  ... -73.990517  (40.74026158873342, -73.99051651686905)
4           4    39881329  ... -73.750990  (40.68814402968042, -73.75098958473612)

[5 rows x 42 columns]

In [25]:
df.tail()

         Unnamed: 0  ...                                 location
2859006     2859195  ...   (40.87970084316435, -73.9010571445122)
2859007     2859196  ...  (40.70178323733244, -73.92055493919345)
2859008     2859197  ...   (40.66999185896368, -73.9224889475533)
2859009     2859198  ...                                      NaN
2859010     2859199  ...  (40.63679359185655, -74.15397942810047)

[5 rows x 42 columns]

Question from Tutorials: When should you start a new line of code instead of continuing to write code on the same line? When does spacing matter? When changing variable names, the new variable name must come before the = sign and the old variable name?